{% extends 'banner.html' %}

{% block contenido %}
	  	
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}

</style>
<h2 class="nav justify-content-center">List of clothes</h2>
<br>

</head>

{% if forloop.counter > 5 %}
 <h6 class="nav justify-content">Pages:  <span>

{% for l in  clothes.paginator.page_range %}

    {% if forloop.counter < 5 %}
        <a href="?page={{forloop.counter}}">{{forloop.counter}}</a>,
    {% endif %}
{% endfor %}
{% endif %}

</span></h6>

<br>
<table class="table">
	<thead>
		<tr>
		    <td><strong>Clothe</strong></td>
			<td><strong>Name</strong></td>
			<td><strong>Size</strong></td>
			<td><strong>Brand</strong></td>
			<td><strong>User</strong></td>
			<td><strong>Category</strong></td>
			<td></td>
			{% if user.is_authenticated %}
			<td></td>
			<td></td>
			{% endif %}
		</tr>
	</thead>
	
	<tbody>
		{% for clothing in clothes%}
		<tr>
		<td><img height="50px" width="50px" src={{MEDIA_URL}}{{clothing.photo}}></td></td>
			<td>{{clothing.name}}</td>
			<td>{{clothing.size}}</td>
			<td>{{clothing.brand}}</td>
			<td>{{clothing.user}}</td>
			<td>{{clothing.category}}</td>
			<td><input   class="btn btn-info btn-sm" type="button" value="Display" onclick="window.location='display/{{clothing.id}}'"></input></td>

			{% if user.is_authenticated and clothing.user == user %}
                <td><input   class="btn btn-info btn-sm" type="button" value="Edit" onclick="window.location='edit/{{clothing.id}}'"></input></td>
				<td><input   class="btn btn-danger btn-sm" type="button" value="Delete" onclick="window.location='delete/{{clothing.id}}'"></input></td>

			{% endif %}
		
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if user.is_authenticated %}
 	<input   class="btn btn-info btn-sm" type="button" value="Create new clothing" onclick="window.location='create'"></input>
{% endif %}

<input   class="btn btn-info btn-sm" type="button" value="Filter by category" onclick="window.location='filterCategory'"></input>
{% endblock %}


