{% extends 'banner.html' %}

{% block contenido %}
	<h2 class="nav justify-content-center">Filter look by season</h2>
	<br>
	<br>

<div class="text-center">
<form method = "post">
{% csrf_token %}
<select name = "season" >



{{ athlete_list|length }}
    <option value="Verano" />Verano</option>
    <option value="Primavera" />Primavera</option>
    <option value="Otoño" />Otoño</option>
    <option value="Invierno" />Invierno</option>
</select>

<input  type = "submit" class="btn btn-info btn-sm" value="Submit">
</form>
</div>
{% endblock %}

