{% extends 'banner.html' %}

{% block contenido %}
	  	
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>

<table class="table">
	<thead>
		<tr>
			<td><strong>Title</strong></td>
			<td><strong>Description</strong></td>
			<td><strong>Season</strong></td>
			<td><strong>User</strong></td>
			<td><strong>Clothes</strong></td>
			<td></td>
		</tr>
	</thead>

	<tbody>
		{% for look in looks%}
		<tr>
			<td>{{look.title}}</td>
			<td>{{look.description}}</td>
			<td>{{look.season}}</td>
			<td>{{look.user}}</td>
			<td>{% for clothing in look.clothes.all %}
             <li> <a href='display/{{clothing.id}}'>{{clothing.name}}</a> </li>
            {% endfor %}</td>
			<td><a href='mostrarLook/{{look.id}}'>Ver {{look.title}}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if user.is_authenticated %}
 	<h7><a href='create'>Crear nuevos looks</a><br></h7>
{% endif %}

<h7><a href='filtrarSeason'>Filtrar</a><br></h7>

{% endblock %}

