{% extends 'banner.html' %}
{% block contenido %}
<h2 class="nav justify-content-center">Display look</h2>
<br>
<section>
    <h4>{{look.title}}</h4>
    <div id='description'>
    	<strong>Descripcion: </strong>{{look.description}}
    </div>
    <div id='season'>
    	<strong>Temporada: </strong>{{look.season}}
    </div>
    <div id='user'>
    	<strong>Usuario: </strong>{{look.user.nickName}}
    </div>
    <br>
     
{% if look.clothes.all %}
    <div id='clothes'>
        <legend>Clothes: </legend>
        <table class="table">
        <tr>
            <th><strong> Name </strong></th>
            <th><strong> Photo </strong></th>
            <th><strong> Size </strong></th>
            <th><strong> Brand </strong></th>
            <th><strong> Link </strong></th>
            <th><strong> Category </strong></th>
        </tr>
        {% for clothing in look.clothes.all %}
        <tr>
            <th>{{clothing.name}}</th>
            <th><img src={{MEDIA_URL}}{{clothing.photo}} style="width:90px;"></th>
            <th>{{clothing.size}}</th>
            <th>{{clothing.brand}}</th>
            <th><a href="{{clothing.link}}">Link to clothing</a></th>
            <th>{{clothing.category}}</th>
        </tr>
         {% endfor %}


         </table>
    </div>
    {% endif %}
 </section>
 <br>
 
 
{% if comments %}
<fieldset>
    <legend><h2>Comments:</h2></legend>
    <table class="table">
	<thead>
		<tr>
			<td><strong>Subject</strong></td>
			<td><strong>Body</strong></td>
			<td><strong>Moment</strong></td>
			<td><strong>User</strong></td>
		</tr>
	</thead>
	
	<tbody>
		{% for comment in comments%}
		<tr>
			<td>{{comment.subject}}</td>
			<td>{{comment.body}}</td>
			<td>{{comment.moment}}</td>	
			<td>{{comment.user}}</td>		
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
    {% if user.is_authenticated %}
<div id='commentCreate'>
    <input   class="btn btn-info btn-sm" type="button" value="Comment this look" onclick="window.location='commentCreate/{{look.id}}'"></input>
</div>
{% endif %}
  </fieldset>
   


{% endblock %}

