{% extends 'banner.html' %}
{% block contenido %}
    	<h2 class="nav justify-content-center">My Profile</h2>

    <br>
    <strong>Nickname: </strong>{{ user.nickName }}
    <br>
    <strong>First name: </strong>{{ user.first_name }}
    <br>
    <strong>Last name: </strong>{{ user.last_name }}
    <br>
    <strong>Year birth: </strong>{{ user.year_birth }}
    <br>
    <strong>Sex: </strong>{{ user.sex }}
    <br>
    <strong>Is staff: </strong>{{ user.is_staff }}
     <br>
      <br>

      	<input   class="btn btn-info btn-sm" type="button" value="Edit profile" onclick="window.location='edit_user/{{user.id}}'"></input>
      	<input   class="btn btn-danger btn-sm" type="button" value="Delete profile" onclick="window.location='delete_user/{{user.id}}'"></input>

{% endblock %}